<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>02</title>
    <style>
        input {
            display: block;
            margin: 5px 0;
        }
    </style>
</head>
<body>
    
<input class="text1" onkeyup="updateStuff()"  >
<input class="text2" readonly >

<div class="result">
</div>

<script src="02.js"></script>

</body>
</html>